<div class='form-container'>
  <%= form_with(model: article) do |form| %>

      <div>
        <strong><%= form.label :Title, style: "display: block" %></strong>
        <%= form.text_field :title %>
      </div>

      <div>
        <strong><%= form.label :Content, style: "display: block" %></strong>
        <%= form.text_area :body %>
      </div>

      <div >
      <strong><%= form.submit %></strong>
      </div>

      <% if form.object.errors.any? && (form.object.errors[:title].present? || form.object.errors[:body].present?) %>
        <div style="color: red">
          Fields can't be empty.
        </div>
    <% end %>
  <% end %>

    <p style= "padding: 0; margin: 0;"><%= link_to 'Back to Articles', articles_path %></p>
</div>