<div class="form-container">
<%= form_with(model: @album, url: albums_path, local: true) do |f| %>
 
    <div>
      <strong><%= f.label :caption %></strong>
      <%= f.text_field :caption %>
    </div>

    <div>
    <strong><%= f.label :description %></strong>
      <%= f.text_area :description %>
    </div>

    <div>
      <strong><%= f.submit %></strong>
    </div>

    <% if @album.errors[:caption].present? || @album.errors[:description].present? %>
    <div style="color: red">
      Caption and Description can't be empty.
    </div>
  <% end %>
<% end %>

  <p style= "padding: 0; margin: 0;"><%= link_to 'Back to Albums', albums_path %></p>
</div>