<nav>
  <%= link_to "Homepage", root_path %> |
  <%= link_to 'Posts', posts_path %> |
  <%= link_to 'Articles', articles_path %>
</nav>

<h1>Albums</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.caption %></td>
        <td><%= album.description %></td>
        <td>
          <li><%= link_to 'Show', current_album_path(album) %></li>
          <li><%= link_to 'Edit', edit_album_path(album) %></li>
          <li><%= button_to 'Delete', delete_album_path(album), method: :delete, form_class: 'delete-form', params: { class: 'delete-button' } %></li>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div style="text-align: center; font-weight: bold">
<%= link_to 'New Album', new_album_path %>
</div>

<div>
  <p class="centered-notice"><%= notice %></p>
</div>