<nav>
  <%= link_to "Homepage", root_path %> |
  <%= link_to 'Posts', posts_path %> |
  <%= link_to 'Articles', articles_path %>
</nav>

<h1>Albums</h1>

<div class="table-container">
  <div>
    <table class="articles-table">
      <thead>
        <tr>
          <th class="caption-column">Caption</th>
          <th class="description-column">Description</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td class="caption-column"><%= album.caption %></td>
            <td class="description-column"><%= album.description %></td>
            <td class="actions-column">
              <li><%= link_to 'Show', current_album_path(album) %></li>
              <li><%= link_to 'Edit', edit_album_path(album) %></li>
              <li><%= button_to 'Delete', delete_album_path(album), method: :delete, form_class: 'delete-form', params: { class: 'delete-button' } %></li>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <div style="position: absolute; text-align: center; margin: 2px; padding: 2px; font-weight: bold; bottom: 0;">
    <%= link_to 'New Album', new_album_path %>
  </div>