<div class='form-container'>
  <%= form_with(model: post) do |form| %>
  
    <div>
      <strong><%= form.label :Thoughts, style: "display: block" %></strong>
      <%= form.text_area :name %>
    </div>

    <div>
      <strong><%= form.submit %></strong>
    </div>

    <% if post.errors.any? && post.errors[:name] %>
      <div style="color: red">
        Field can't be empty.
      </div>
    <% end %>
  <% end %>

    <p style= "padding: 0; margin: 0;"><%= link_to "Back to Posts", posts_path %></p>
</div>