<nav>
  <%= link_to "Homepage", root_path %> |
  <%= link_to 'Articles', articles_path %> |
  <%= link_to 'Albums', albums_path %>
</nav>  

<h1>Posts</h1>

<div class="table-container">
  <div>
    <table class="posts-table">
      <thead>
        <tr>
          <th class="post-column">Post</th>
          <th class="options-column">Options</th>
        </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="post-column">
                <%= render post %>     
              </td>
              <td class="options-column">
                <li><%= link_to "Edit", edit_post_path(post) %></li>
                <li><%= button_to "Delete", post, method: :delete, form_class: 'delete-form', params: { class: 'delete-button' } %></li>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

  <div style="position: absolute; text-align: center; margin: 2px; padding: 2px; font-weight: bold; bottom: 0;">
    <%= link_to "New Post", new_post_path %>
  </div>